QListWidget {
    background-color: #1d1d1d;
    outline: 0;
    border: none;
}

QListWidget::item {
    background-color: #2b2b2b;
    border-radius: 8px;
    margin: 4px 8px;
    padding: 0px;
    border: 1px solid #3d3d3d;
}

QListWidget::item:alternate {
    background-color: #2b2b2b;
}

QListWidget::item:hover {
    background-color: #333333;
    border: 1px solid #505050;
}

QListWidget::item:selected {
    background-color: #333333;
    border: 1px solid #F5792A;
}

QListWidget::item:selected:hover {
    background-color: #383838;
    border: 1px solid #F5792A;
}
