QListWidget {
    background-color: #2b2b2b;
    outline: 0;
    border-radius: 4px;
}

QListWidget::item {
    background-color: #333333;
    border-radius: 4px;
    margin: 2px 4px;
    padding: 4px;
    border: 1px solid transparent;
}

QListWidget::item:alternate {
    background-color: #2b2b2b;
}

QListWidget::item:hover {
    background-color: #3d3d3d;
    border: 1px solid #4d4d4d;
}

QListWidget::item:selected {
    background-color: #474747;
    border: 1px solid #e87d0d;
}

QListWidget::item:selected:hover {
    background-color: #525252;
    border: 1px solid #e87d0d;
}
