QMessageBox {
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
}

QMessageBox QPushButton {
    background-color: #444444;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background-color: #585858;
}

QMessageBox QLabel {
    color: white;
}