QTabBar::tab {
    color: #989898;
    background-color: #2B2B2B;
    font-size: 14px;
    padding: 8px 16px;
}

QTabBar::tab:hover {
    color: #FFFFFF;
    background-color: #343434;
}

QTabBar::tab::selected {
    color: #FFFFFF;
    background-color: #424242;
}
