QToolBox {
    border: none;
}

QToolBox::tab {
    background-color: #424242;
    color: #E6E6E6;
    font-size: 14px;
}

QToolBox::tab:hover {
    background-color: #4F4F4F;
    color: #E6E6E6;
}

QToolBox::tab:selected:hover {
    background-color: #424242;
    color: #E6E6E6;
}
